/* Cadre */

body
{
    margin: 0;
    padding-top: 70px;
    min-height: 80vh;
}

.pageremplie
{
    flex: 1;
    min-height: 90vh;

}
header
{
    margin: 0;
}

section
{
    margin: 10px;
    padding: 30px;
}

p, h1, h2
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Menu */


.navbar
{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    background: linear-gradient(0deg, #355691, #040a21);
    padding-left: 20px;
    margin: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    box-shadow: 0px 15px 15px rgba(13, 49, 148, 0.3);
}




.menu
{
    display: flex;
    margin: 10;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 80%;
}


.boutonmenu
{
    display: flex;
    list-style: none;
    gap: 20px;
}



.iconemenu
{
    padding: 5px;
    border-radius: 8px;
    margin: 10px;
}

.iconemenu:hover
{
    background-color: rgb(17, 86, 125);
    padding: 5px;
    border-radius: 8px;
    margin: 10px;
}

.bouton
{
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.bouton:hover
{
    background-color: rgb(17, 86, 125);
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.active
{
    background-color: rgb(17, 86, 125);
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h5
{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

h6 
{
    font-size: 20rem;
    margin: 10px;
}

a, p, h3, h4
{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Hero */

.Hero
{
    background: url("../img/home.png");
    background-size: 100%;

    margin: 0;
    background-repeat: no-repeat;
    padding: 40px;
    padding-top: 0px;
    margin: 0;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logohero
{
    font-size: 5.0em;
    margin: 0;
    padding: 0;

}


#col h1
{

    color: rgb(8, 6, 101);   
}

#col h2
{
    margin: 0;
    padding: 5px;
        color: white; 

 
}

#col
{
    padding-top: 60px;
}

#col p
{
    margin: 0;
    padding: 5px;
    color: white; 

}

#col a
{
    margin: 0;
    padding: 5px;
}


#row
{
    display: flex;
    align-items: flex-start;
    justify-content:  space-between;
    padding-left: 0px;
    margin: 0;
    width: 90%;
    top: 0;
}

/* hero section */

.buleHome {
    /* Paramètres de style initiaux */
    max-width: 600px;
    margin: 3.2rem 0;
    padding: 5%;
    border-radius: 16px;
    box-shadow: 5px 15px 15px rgba(13, 49, 148, 0.3);
    border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%;
    background: linear-gradient(300deg, #00f3a6, #8700ff, #ff005f, #00deff, #0029ff);
    background-size: 400% 400%;
    animation: wave 10s linear infinite, colorChange 7s linear infinite;
}

/* Animation de changement de bordure */
@keyframes wave {
  20% {
    border-radius: 45% 45% 42% 28% / 33% 51% 39% 37%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 70% 52% 68% / 38% 36% 64% 62%;
  }
}

/* Nouvelle animation de changement de couleur progressive */
@keyframes colorChange {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}



/* animation vole */

.vole
{
    animation:float 2s ease-in-out infinite;
    position: relative;
    z-index: 1;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0)
    }
    50% {
        transform: translateY(-10px);
    }
}

/* animation page */
    /* Block */
@keyframes pageslide {
    0%{
        transform: translateX(-800px)

    }
    100% {
        transform: translateX(0px);
        scale: 1;
        opacity: 1;
    }
}

@keyframes pageslide2 {
    0%{
        transform: translateX(800px)

    }
    100% {
        transform: translateX(0px);
        scale: 1;
        opacity: 1;
    }
}


@keyframes pageslide3 {
    0%{
        transform: translateY(500px)

    }
    100% {
        transform: translateY(-100px);
        scale: 1;
        opacity: 1;
    }
}


@keyframes bleuslide {
    0%{
        transform: translateY(10px)

    }
    100% {
        transform: translateY(-10px);
        scale: 1.6;
        opacity: 1;
    }
}
/* article */

.imginterM
{
    display: block;
    max-width: 500px; 
    margin-left: auto; 
    margin-right: 0;
    animation:float 2s ease-in-out infinite;
}

.imginter
{
    display: block;
    max-width: 500px; 
    margin-left: 0; 
    margin-right: auto;
    animation:float 2s ease-in-out infinite;
}


.bule h4
{
    max-width: 500px;
    color: white;
}

.bule p
{
    max-width: 500px;
    color: white;
    font-size: 1.1em;
}


.buleM p
{
    max-width: 500px;
    font-size: 1.1em;
}

.center
{
    display:flex;
    justify-content: center;
}

.center h2
{
    margin-bottom: 200px;
}

.center p
{
    font-size: 1.1em;
}

.center img
{
    animation:float 2s ease-in-out infinite;  
}

.bleu
{
    background: #3b5ac9;
    animation: bleuslide linear forwards;
    scale: 1;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 5px 15px 15px rgba(13, 49, 148, 0.3);
    border-radius: 50%;
    background-image: linear-gradient(
      45deg,
      $color_one,
      $color_two
    );
    border-radius: 38% 62% 55% 45% / 32% 53% 47% 68% ;
    animation: wave2 7s linear infinite;
}
 
@keyframes wave2 {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}

.buleIB
{
    max-width: 800px;
    margin: 3.2rem 0;
    padding: 32px;
    border-radius: 16px;
    scale: 0.2;
    animation: pageslide3 linear forwards;
    animation-timeline: view();
    animation-range: 10px 500px;
}

.buleIB h4
{
    font-size: 2.5em;
}

.bule
{
    /* background-color: #ffffff; */
    background: url("../img/droite.png");
    background-repeat: no-repeat;
    max-width: 600px;
    margin: 3.2rem 0;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 5px 15px 15px rgba(13, 49, 148, 0.3);
    animation: pageslide linear forwards;
    scale: 0.8;
    animation-timeline: view();
    animation-range: 10px 500px;
    opacity: 1;
}



.buleM
{
    /* background-color: #e8edfc; */
    background: url("../img/gauche.png");
    background-repeat: no-repeat;
    max-width: 600px;
    margin: 3.2rem 0;
    display: block; 
    margin-left: auto; 
    margin-right: 0;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 5px 15px 15px rgba(13, 49, 148, 0.3);
    animation: pageslide2 linear forwards;
    scale: 0.8;
    animation-timeline: view();
    animation-range: 10px 500px;
    opacity: 1;
}

.buleH
{

    max-width: 600px;
    margin: 3.2rem 0;
    padding: 32px;
    border-radius: 16px;
    animation: pageslide linear forwards;
    scale: 0.8;
    animation-timeline: view();
    animation-range: 10px 500px;
    opacity: 0;
    text-align: center;
}



.buleMH
{
    max-width: 600px;
    margin: 3.2rem 0;
    display: block; 
    margin-left: auto; 
    margin-right: 0;
    padding: 32px;
    border-radius: 16px;
    animation: pageslide2 linear forwards;
    scale: 0.8;
    animation-timeline: view();
    animation-range: 10px 500px;
    opacity: 0;
    text-align: center;
}

.buleH h4, .buleMH h4
{
    font-size: 2.5em;
}

.buleP
{
    max-width: 800px;
    margin: 3.2rem 0;
    display: flex; 
    margin-left: auto; 
    margin-right: auto;
    padding: 32px;
    animation: pageslide3 linear forwards;
    scale: 0.8;
    animation-timeline: view();
    animation-range: 10px 500px;
    opacity: 1;
    align-items: center;
}

.buleP h4
{
    font-size: 1.5em;
    margin-left: auto; 
    margin-right: auto;
}


.buleI
{
    background-color: #e8edfc;
    max-width: 800px;
    margin: 3.2rem 0;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 5px 15px 15px rgba(13, 49, 148, 0.3);
    scale: 0.2;
    animation: pageslide3 linear forwards;
    animation-timeline: view();
    animation-range: 10px 500px;
}

.buleI2
{
    background-color: #e8edfc;
    max-width: 800px;
    margin: 3.2rem 0;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 5px 15px 15px rgba(13, 49, 148, 0.3);
    scale: 0.2;
    animation: pageslide3 linear forwards;
    animation-timeline: view();
    animation-range: 400px 600px;
}

.buleB
{
    max-width: 800px;
    margin: 3.2rem 0;
    padding: 32px;
    border-radius: 16px;
    color: white;
    animation: pageslide linear forwards;
    scale: 0.8;
    animation-timeline: view();
    animation-range: 10px 500px;
    opacity: 1;
}

.buleM h4
{
    display: block; 
    margin-left: auto; 
    margin-right: 0;
    text-align: right;
}

.buleM p
{
    display: block; 
    margin-left: auto; 
    margin-right: 0;
    text-align: right;
}

.article
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.article div
{
    max-width: 500px;
    margin-left: 40px;
    margin-right: 0px;
}
.article p
{
    /* max-width: 60%; */

}

.imgarticle
{
    max-width: 300px;
    max-height: 300px;
}

/* galerie */
.imgsection 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.galerie
{ 
    margin-bottom: 20px; 
}
     
.galerie img {
     max-width: 100%; 
     max-height: 80vh;
     border-radius: 10px; 
} 

.buttons  {
    display: flex;
    justify-content: space-between;
}

.buttons button {
     margin: 5px; 
     padding: 10px 30px;
     border-radius: 30px;
     background: linear-gradient(0deg, #355691, #040a21);
}

/* Footer */

.ficonemenu
{
    padding: 5px;
    border-radius: 8px;
    margin: 0px;
    margin-top: 10px;
    padding: 0;
}

.pfooter
{
    margin-top: 10px;
    color: azure;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footertext
{
    width: 30%;
    padding-left: 20px;
}

.listfooter
{
    list-style: none;
    gap: 20px;

}

.footer
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: linear-gradient(0deg,  #1b3c7d, #272727);
    height: 300px;
    padding-top: 20px;
}

.menufooter
{
    display: flex;
}

.liens
{
    margin-left: 50px;
    color: white;
}


hr
{
    background-color: rgb(17, 86, 125);
    border: none;
    height: 3px;
    margin: 0,
}

h4
{
    font-size: 20px;
    margin-bottom: 0;
}
.fbouton
{
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.fbouton:hover
{
    color: rgb(164, 235, 212);
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
    text-decoration: none;
}

.factive
{
    color: rgb(164, 235, 212);
    padding: 5px;
    border-radius: 8px;
    margin: 8px;
    text-decoration: none;
}

.copyright
{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px;
    height: 20px;
    background-color: #232a49;
}



.copyright p
{
    margin: 4px;
    padding: 0; 
    font-size: 0.8em; 
    color: rgb(159, 159, 159); 
}

/* Version smartphone */

.stopburger
{
    display: none;
}

.burgerOn
{
    display: none;
    margin: 10;
    padding: 0;
    align-items: center;

}
.burgerOff
{
    display: none;
    margin: 10;
    padding: 0;
    align-items: center;

}

.menuburger
{
    display: none;
    list-style: none;
}


@media (max-width: 900px)
{
    
    .Hero
    {
        padding-top: 120px;
        background-size: 250%;
    }

    .center
    {
        display: list-item;
        list-style-type: none;
        align-items:flex-start;
    }

    #row
    {
        display: list-item;
        list-style-type: none;
        align-items:flex-start;
        justify-content:  space-between;
        padding-left: 0px;
        margin: 0;
        width: 90%;
        top: 0;
    }
    

    .navbar
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: linear-gradient(0deg, #355691, #040a21);
        margin: 0;
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
    }
    
    .buleP
    {
        max-width: 800px;
        margin: 3.2rem 0;
        display: list-item; 
        margin-left: auto; 
        margin-right: auto;
        padding: 32px;
        animation: pageslide3 linear forwards;
        scale: 0.8;
        animation-timeline: view();
        animation-range: 10px 500px;
        opacity: 1;
        align-items: center;
        list-style-type: none;
    }

    .menu
    {
        display: none;
        margin: 10;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 80%;

    }

    .stopburger
    {
        display: flex;
    }

    .burgerOn
    {
        display: flex;
        margin-left: 30px;
        padding: 0;
        align-items: center;
    }

    .burgerOn img
    {    
        width: 50px;
        height: 50px;        
    }

    .burgerOff
    {
        display: none;
        margin-left: 30px;
        padding: 0;
        align-items: center;
    }

    .burgerOff img
    {
        width: 50px;
        height: 50px;
    }

    .menuburger
    {
        display:none;
        list-style: none;
        background: linear-gradient(180deg, #355691, #040a21);
        margin: 0;
        position: fixed;
        z-index: 8;
        top: 70px;
        height: 100%;
        width: 70%;
        left: 0;
    }

    .menuburger li
    {
        margin: 20px;
    }

    .footer
    {
        display: list-item;
        align-items: flex-start;
        justify-content: flex-start;
        background: linear-gradient(0deg, #1b3c7d, #272727);
        height: 500px;
    }
    .footertext
    {
        width: 90%;
        padding-left: 20px;
    }

    .liens
    {
        margin-left: 0;
        color: white;
    }
    .liens h4
    {
        display: flex;
        justify-content: center;
    }
}

