iframe 
{
    width: 100%;
    border: none;

}

.nav
{
    display: flex;
}

/* body
{
    background-color: rgb(94, 206, 240);
} */

.nav_active :active
{
    background-color: red;
}

a
{
    color: green;
}

#menu-iframe .conclusion 
{
    color: rgb(128, 77, 0);
}