.active
{
    background-color: red;
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    /* justify-content: center; */
}


a
{
    color: green;
}

.menu
{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;


}


.boutonmenu
{
    display: flex;
    list-style: none;
    gap: 20px;

}

li 
{
    position: relative;
}

.iconemenu
{
    margin-right: 10px;
    justify-content: flex-start;

}


h6 
{
    font-size: 40rem;
    margin: 10px;
}